{% block content %}
{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/prf-pic2.jpg')"
>
</header>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <h2 style="margin-left: 230px">Profile id: {{ current_user.id }}</h2>
          {% if res: %}
          <h2 style="margin-left: 230px">Seat booked: {{ res.id }}</h2>
          {% else %}
          <h2 style="margin-left: 230px">You have no seats booked.</h2>
          {% endif %}
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a class="btn btn-primary btn-lg" style="margin-left: 90px; margin-right: 50px; margin-bottom: 50px; margin-top: 50px" href="{{ url_for('get_all_posts') }}">Return Home</a>
        {% if res: %}
        <a class="btn btn-danger btn-lg" style="margin-left: 90px; margin-bottom: 50px; margin-top: 50px" href="{{ url_for('cancel_res') }}">Cancel reservation</a>
              {% else %}
              <a class="btn btn-success btn-lg" style="margin-left: 90px; margin-bottom: 50px; margin-top: 50px" href="{{ url_for('book') }}">Get reservation</a>
        {% endif %}
          </div>
    </div>
  </div>
  </div>
{% include "footer.html" %}
{% endblock %}
